.sweet-alert h2 {
  color: #575757;
  font-size: 20px;
  text-align: center;
  font-weight: lighter;
  text-transform: none;
  position: relative;
  margin: 0;
  line-height: inherit;
}
.sweet-alert .icon {
  width: 60px;
  height: 60px;
  border: 4px solid gray;
  border-radius: 50%;
  margin: 20px auto;
  position: relative;
  box-sizing: content-box;
}
.sweet-alert .icon.warning .body {
  position: absolute;
  width: 4px;
  height: 35px;
  left: 50%;
  top: 10px;
  border-radius: 2px;
  margin-left: -2px;
  background-color: #F8BB86;
}
.sweet-alert .icon.warning .dot {
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  margin-left: -3px;
  left: 50%;
  bottom: 5px;
  background-color: #F8BB86;
}



.sweet-alert button {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #AEDEF4;
  color: white;
  border: none;
  box-shadow: none;
  font-size: 17px;
  font-weight: 500;
  border-radius: 5px;
  padding: 10px 32px;
  margin: 0px 5px 0 5px;
  cursor: pointer;
  font-weight: bold;
}